service: alexa-fruit-stand
provider:
  name: aws
  runtime: nodejs20.x
  stage: v2
  region: us-east-1
package:
  include:
    - src/**
    - node_modules/pluralize/**
  exclude:
    - .git/**
    - .github/**
    - .serverless/**
    - icons/**
    - speechAssets/**
    - test/**
functions:
  skill:
    handler: src/index.handler
